<div class="row">
	<div class="col-md-6">
		<h1>Movies service API call</h1>
		<div>
      <!--      1. Get input from the user and call searchMovies() on the Component-->
			<input type="text" #keyword
				   (keyup.enter)="searchMovies(keyword.value)"
				   class="form-control-lg" placeholder="movie name...">
			<button class="btn btn-primary"
					(click)="searchMovies(keyword.value)">Find movies</button>
		</div>
    <!--    2. Loop over found movies -->
		<ul class="list-group">
			<li *ngFor="let movie of movies" class="list-group-item">
				{{ movie.Title}} - {{ movie.Year}}
			</li>
		</ul>
	</div>
	<div class="col-md-6">
    <!--    3. Just a static image-->
		<img ngSrc="../assets/img/frozen.jpg" alt="Frozen poster..." height="250" width="169">
	</div>
</div>
