<!--//////////////////////////-->
<!-- BLANK FORM -->
<!--//////////////////////////-->
<form novalidate>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Enter email" name="email" >
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<!--//////////////////////////-->
<!--RESULTS PANE-->
<!--//////////////////////////-->
<div class="form-result">
    <h3>Validity</h3>
    <div class="validity" [ngClass]="{'invalid-form': !form.valid}">
        <div *ngIf="form.valid">Valid</div>
        <div *ngIf="!form.valid">Invalid</div>
    </div>
    <h3>Results</h3>
    <div class="result">
        {{ form.value | json}}
    </div>
</div>


<!--/////////////////////////////   RESULT UP TIL STEP#15    ////////////////////////////////////////////////////-->

<!--<form novalidate #form="ngForm">-->
    <!--<div class="form-group">-->
        <!--<label for="exampleInputEmail1">Email address</label>-->
        <!--({{email.value  + " | " + email.valid}})-->
        <!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"-->
               <!--placeholder="Enter email" name="email" ngModel #email="ngModel" required>-->
        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="exampleInputPassword1">Password</label>-->
        <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" ngModel>-->
    <!--</div>-->

    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
<!--</form>-->

<!--/////////////////////////////   RESULT UP TIL STEP#17(End of Fundamentals    //////////////////////////////////-->

<!--<form novalidate #form="ngForm">-->
    <!--<div class="form-group">-->
        <!--<label for="exampleInputEmail1">Email address</label>-->
        <!--({{email.value  + " | " + email.valid}})-->
        <!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"-->
               <!--placeholder="Enter email" ngModel name="email" #email="ngModel" required>-->
        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="exampleInputPassword1">Password</label>-->
        <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ngModel name="password">-->
    <!--</div>-->


    <!--( {{name.value | json }} | {{ name.valid }} )-->
    <!--<div ngModelGroup="name" #name="ngModelGroup">-->
        <!--<div class="form-group">-->
            <!--<label for="exampleSelect1">Prefix</label>-->
            <!--<select class="form-control" id="exampleSelect1" ngModel name="namePrefix" >-->
                <!--<option value="" disabled>Select Name Prefix</option>-->
                <!--<option value="Mr.">Mr.</option>-->
                <!--<option value="Mrs.">Mrs.</option>-->
            <!--</select>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="firstName">First Name</label>-->
            <!--<input type="text" class="form-control" id="firstName" placeholder="First Name" [ngModel]="firstName" name="firstName" required>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="lastName">Last Name</label>-->
            <!--<input type="text" class="form-control" id="lastName" placeholder="Last Name" ngModel name="lastName">-->
        <!--</div>-->
    <!--</div>-->

    <!--<button type="submit" class="btn btn-primary">Submit</button>-->
<!--</form>-->



<!--/////////////////////////////   RESULT UP TIL STEP#xx   ////////////////////////////////////////////////////-->


