<div class="row">
  <div class="col-md-6">
    <h2>../500 - Local template variables /app.component2.html | .ts</h2>
    <hr>
    <form novalidate #myForm="ngForm">
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <pre>value: {{ email.value }} - valid : {{ email.valid}}</pre>
        <input type="email" class="form-control" id="inputEmail"
               placeholder="Enter email" name="email" ngModel
               #email="ngModel" required email>
        <small class="form-text text-muted">
          We'll never share your email with anyone else.
        </small>
        <!--        Validation message(s) for the email field-->
        <div *ngIf="!email.valid && (email.dirty || email.touched)"
             class="alert alert-danger">
          <div *ngIf="email.errors?.['required']"> <!-- Note the weird index-syntax since Angular v13 -->
            A valid email address is required.
          </div>
          <div *ngIf="!email.valid">
            This is not a valid email address.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <pre>value: {{ pw.value }} - valid : {{ pw.valid}}</pre>
        <input type="password" class="form-control" ngModel
               id="inputPassword" placeholder="Password" name="password"
               #pw="ngModel" required>
        <!--        Workshop: create a validation message for the password field:-->
        <!--          - is required-->
        <!--          - must be at least 6 characters long-->
      </div>

      <button type="submit"
              [disabled]="!myForm.valid"
              (click)="submitForm(myForm.value)"
              class="btn btn-primary">Submit</button>
    </form>
  </div>
  <!--Sample results pane - showing valid/invalid of form among others-->
  <div class="col-md-6">
    <div class="form-result">
      <h3>Validity</h3>
      <div class="validity" [ngClass]="{'invalid-form': !myForm.valid}">
        <div *ngIf="myForm.valid">Valid</div>
        <div *ngIf="!myForm.valid">Invalid</div>
      </div>
      <h3>Results</h3>
      <div class="result">
        {{ myForm.value | json}}
      </div>
    </div>
  </div>
</div>
