<h1>Add city - alleen indien ingelogd</h1>
<!--<form (submit)="onSubmit()" #cityForm="ngForm">-->
<form #cityForm="ngForm">
	<div class="form-group">
		<label for="cityName">Name</label>
		<input type="text" id="cityName" class="form-control"
			   [(ngModel)]="city.name"
			   name="name"
			   required>
		<!--<div *ngIf="!city.name.valid" class="alert alert-danger">-->
		<!--A city name is required-->
		<!--</div>-->
		<!--<p>Todo: remove diagnostics: {{ spy.className }}</p>-->
	</div>
	<div class="form-group">
		<label for="cityProvince">Province</label>
		<select class="form-control" id="cityProvince"
				[(ngModel)]="city.province"
				name="province"
				required>
			<option *ngFor="let province of provinces" [value]="province">
				{{ province }}
			</option>
		</select>
	</div>
	<div class="form-group">
		<label for="cityHighlights">Highlights</label>
		<input type="text" id="cityHighlights" class="form-control"
			   [(ngModel)]="city.highlights"
			   name="highlights"
		>
	</div>
	<!--{{ diagnostic }}-->
	<button (click)="onSubmit(cityForm)" class="btn btn-success"
			[disabled]="!cityForm.valid">
		Verzenden
	</button>
</form>
<div>
	{{ result | json }}
</div>