<!-- HTML in external template -->
<h1>Different kinds of databinding</h1>
<!-- ********************************** -->
<!-- Properties bound via ngOnInit() -->
<!-- ********************************** -->
<h3>This is an external template</h3>
<h3>Properties bound via ngOnInit(...): </h3>
<p>My name is : {{ name }}</p>
<!-- ********************************** -->
<!-- Using *ngFor -->
<!-- ********************************** -->
<hr>
<h3>My favourite cities are:</h3>
<ul>
    <li *ngFor="let city of cities">{{ city}}</li>
</ul>
<hr>
<!-- ********************************** -->
<!-- Using *ngIf  -->
<!-- ********************************** -->
<h3>Using *ngIf</h3>
<p *ngIf="cities.length > 3">You have many favourite cities! (over 3)</p>

<!-- ********************************** -->
<!-- Using a Model (shared/city.model.ts) -->
<!-- ********************************** -->
<hr>
<h3>Cities, using a Model:</h3>
<ul>
    <li *ngFor="let city of citiesVolgensModel">{{ city.id}} - {{ city.name }}</li>
</ul>
