<h1>Add city - alleen indien ingelogd</h1>
<form (submit)="onSubmit()" #cityForm="ngForm">
    <div class="form-group">
        <label for="cityName">Name</label>
        <input type="text" id="cityName" class="form-control"
               [(ngModel)]="city.name"
               ngControl="name"
               #name="ngForm"
               required>
        <div *ngIf="!name.valid" class="alert alert-danger">
            A city name is required
        </div>
        <!--<p>Todo: remove diagnostics: {{ spy.className }}</p>-->
    </div>
    <div class="form-group">
        <label for="cityProvince">Province</label>
        <select class="form-control" id="cityProvince"
                [(ngModel)]="city.province"
                ngControl="province"
                required>
            <option *ngFor="#province of provinces" [value]="province">
                {{ province }}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="cityHighlights">Highlights</label>
        <input type="text" id="cityHighlights" class="form-control"
               [(ngModel)]="city.highlights"
               ngControl="hightlights"
        >
    </div>
    <!--{{ diagnostic }}-->
    <button type="submit" class="btn btn-default"
        [disabled]="!cityForm.form.valid">
        Verzenden
    </button>
</form>