<!-- app.component.html -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Filtering cities by using a pipe</h1>
      <h2>My favorite cities are :</h2>
      <input class="form-control-lg" type="text"
             placeholder="filter cities..."
             [(ngModel)]="filterCity">
      <ul class="list-group">
        <!-- Custom pipe -->
        <li *ngFor="let city of cities | filter:filterCity" class="list-group-item">
          <img src="../assets/img/{{ city.image | defaultImage}}"
               alt="Image of {{ city.name}}" width="60">
          {{ city.id}} - {{ city.name | uppercase }}
        </li>
      </ul>
      <hr>
      <!-- Default (built-in) pipes -->
      <p>Date pipe: {{ datePipe | date: 'fullDate' }}</p>
      <p>Slice pipe: {{ slicePipe | slice:1:5 }}</p>
      <p>Decimal pipe: {{ decimalPipe |number }}</p>
      <p>Number pipe: {{ numberPipe | number }}</p>
      <p>Currency pipe: {{ currencyPipe | currency:'EUR':true }}</p>
      <p>JSON pipe: {{ jsonPipe | json }}</p>
      <p>Percent pipe: {{ percentPipe | percent }}</p>
    </div>
  </div>
</div>
