<div class="jumbotron">
	<h1>Dummy login form</h1>
	<!--Let op gebruik van Local template variables #email en #password -->
	<input #email type="text"
		   class="form-control-lg" placeholder="email...">
	<input #password type="text"
		   class="form-control-lg" placeholder="password...">
	<p>
		<button class="btn btn-primary"
				(click)="doLogin()">Login
		</button>
	</p>
</div>
<div class="row">
	<div class="col-md-6">
		<!-- toon response van http://reqres.in/ -->
		<h2>Result from http://reqres.in:</h2>
		<pre>
{{ response | json }}
        </pre>
	</div>
</div>
