<h2>Angular Material demo /app.component1.html | .ts</h2>
<hr>
<form novalidate [formGroup]="searchForm">

    <md-input-container>
        <input mdInput type="text" class="form-control" formControlName="searchYouTube"
               placeholder="Search YouTube">
    </md-input-container>
    <md-input-container>
        <input mdInput type="text" class="form-control" formControlName="searchWiki"
               placeholder="Search Wikipedia">
    </md-input-container>
</form>
<!--Sample results pane -->
<h2>Result</h2>
<hr>

<!--YouTube Results-->
<md-card *ngFor="let video of videos | async">
    <md-card-header>
        <md-card-title>
            {{video.snippet.title}}
        </md-card-title>
    </md-card-header>
    <md-card-content>
        <p>
            <!--This only works if the result is pointing to an actual video. NOT a channel. Adapt to suit your own needs-->
            <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank">
                <img src="{{ video.snippet.thumbnails.high.url}}"><br>
            </a>
            {{video.snippet.description}}
        </p>
    </md-card-content>
</md-card>
<!--Wikipedia Results-->
<ul class="list-group" *ngIf="wikiResults">
    <!-- NOT an async binding here, because wikipedia results are formatted in a different way.-->
    <!-- TODO: refine results, turn them into clickable links -->
    <li class="list-group-item" *ngFor="let result of wikiResultsKeywords ">
        {{result }}
    </li>
</ul>
