<!-- app.component.html -->
<div class="row">
	<div class="col-md-6">
		<h1>{{ title }}</h1>
		<ul class="list-group">
			<li class="list-group-item"
				*ngFor="let city of cities"
				(click)="showCity(city)">
				{{ city.name }}
				<span class="badge badge-dark float-right">{{city.rating}}</span>
			</li>
		</ul>
		<button class="btn btn-primary" (click)="clearCity()">Clear</button>
		<hr>
		<!--***********************-->
		<!-- New Component for city-orders -->
		<!--***********************-->
		<city-orders></city-orders>
	</div>
	<div class="col-md-6">
		<div *ngIf="currentCity">
			<city-detail
					[city]="currentCity"
					(rating)="updateCityRating($event)">
			</city-detail>
		</div>
	</div>
</div>