<div class="row">
	<div class="col-md-6">
		<h1>Movies - with mapping to local MovieModel</h1>
		<div>
			<input type="text" (keyup.enter)="searchMovies(keyword.value)" #keyword class="form-control-lg" placeholder="movie name...">
			<button class="btn btn-primary" (click)="searchMovies(keyword.value)">Find movies</button>
		</div>
		<ul class="list-group">
			<!--Now mapped to local model, using Dutch names-->
			<li *ngFor="let movie of movies" class="list-group-item">
				<img src="{{movie.afbeelding}}" alt="afbeelding van {{ movie.titel }}" class="img-thumbnail moviePoster">
				{{ movie.titel}} - {{ movie.jaar}}
			</li>
		</ul>
	</div>
	<div class="col-md-6">
		<img src="../assets/img/frozen.jpg" alt="Frozen poster...">
	</div>
</div>