<!-- app.html -->
<div class="row">
	<div class="col-md-6">
		<h1>Cities via service</h1>
		<h2>My favorite cities are:</h2>
		<ul class="list-group">
			<li *ngFor="let city of cities" class="list-group-item" (click)="getCity()">
				{{ city.id}} - {{ city.name }}
			</li>
		</ul>
		<button class="btn btn-primary" (click)="clearCity()">Clear</button>
	</div>

	<div class="col-md-6">
		<!-- Details via new component -->
		<div *ngIf="currentCity">
			<city-detail></city-detail>
		</div>
	</div>
</div>