<!-- app.html -->
<div class="row">
    <div class="col-md-6">
        <h1>Event Emitting via Observable</h1>
        <h2>Mijn favoriete steden zijn :</h2>
        <ul class="list-group">
            <li *ngFor="let city of cities" class="list-group-item"
                (click)="getCity(city)">
                {{ city.id}} - {{ city.name }}
                <span class="badge">{{city.rating}}</span>
            </li>
        </ul>
        <button *ngIf="currentCity" class="btn btn-primary" (click)="clearCity()">Clear</button>
        <h3>Emitted cities</h3>
        <ul>
            <li *ngFor="let city of processedCities">
                {{ city }}
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <!-- Details via nieuwe component -->
        <div *ngIf="currentCity">
            <city-detail [city]="currentCity" (rating)="updateRating($event)"></city-detail>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <producer></producer>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <!-- Extra rij, met sibling component -->
        <num-ratings [numRatings]="numRatings"></num-ratings>
    </div>
</div>